[submodule "letta-code"]
	path = letta-code
	url = https://github.com/nerdsane/letta-code.git
	branch = main
[submodule "letta"]
	path = letta
	url = https://github.com/nerdsane/letta.git
	branch = evaluation-tools
